{% extends "base.html" %}
{% block conteudo %}

<main class="container">
    <div class="py-5 text-center">
        <h2>Novo Agendamento</h2>
        <p class="lead">Insira abaixo as informações para agendamento de serviço</p>
    </div>

    <div class="row g-5">
        <div class="col-md-12 col-lg-12">
            <form action="/cadastrar_agendamento" method="POST">
                <h4 class="mb-3">Informações</h4>
                <div class="row g-3 d-flex">
                    <!-- Preenchimento dos campos para serviço -->
                    <div class="col-sm-12 col-md-4">
                        <label for="placa_veiculo" class="form-label">Placa<span style="color:red">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="placa_veiculo" name="placa_veiculo" placeholder="Placa do Veículo" required>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <label for="data_agendamento" class="form-label">Data/Hora do Agendamento<span style="color:red">&nbsp;*</span></label></br>
                        <div class="col-12 d-flex">
                            <div class="col-8 pe-1">
                                <input type="date" class="form-control" id="data_agendamento" name="data_agendamento" required>
                            </div>
                            <div class="col-4 ps-1">
                                <input type="time" class="form-control" id="hora_agendamento" name="hora_agendamento" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <label for="id_orcamento" class="form-label">Nº Orçamento<span style="color:red">&nbsp;*</span></label>
                        <input type="text" class="form-control" id="id_orcamento" name="id_orcamento" placeholder="Nº Orçamento" required>
                    </div>

                </div>

                <div class="mb-5"> </div> <!-- Espaçamento -->

                <!-- Mensagens de validação -->
                <div class="col-12 text-center">
                    {% if mensagem_ok %}
                    <div class="alert alert-success" role="alert">
                        {{ mensagem_ok }}
                    </div>
                    {% elif mensagem_erro %}
                    <div class="alert alert-danger" role="alert">
                        {{ mensagem_erro }}
                    </div>
                    {% endif %}
                </div>

                <div class="row g-3">
                    <div class="col-md-12 col-lg-6 p-2">
                        <a class="w-100 btn btn-outline-secondary btn-lg" href="javascript:history.back()">Voltar para anterior</a>
                    </div>
                    <div class="col-md-12 col-lg-6 p-2">
                        <button class="w-100 btn btn-success btn-lg" type="submit">Cadastrar Agendamento</button>
                    </div>
                </div> 
            
            </form>
        </div>
    </div>
</main>

{% endblock %}